.input-container {
  position: relative;
  width: 100%;
  margin-bottom: 1rem;
}


.input-field {
  width: 100%;
  max-width: 500px;
  padding: 8px 8px 8px 60px;  
    border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  background-color: #f9f9f9;
  box-sizing: border-box;
}

.input-icon {
  position: absolute;
  left: 12px; 
  top: 50%;
  transform: translateY(-50%);
  color: #888;
  font-size: 16px;
}
